/*----------------------------------------------------------------------
	MASTER STYLESHEET
	Project:       Home Eats
	Author:         Shavad VP
	Primary use:    Corporate.
 ------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap');
@font-face {
	font-family: 'Droid Arabic Kufi';
	src: url('../fonts/DroidArabicKufi.eot');
	src: url('../fonts/DroidArabicKufi.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidArabicKufi.woff2') format('woff2'), url('../fonts/DroidArabicKufi.woff') format('woff'), url('../fonts/DroidArabicKufi.ttf') format('truetype'), url('../fonts/DroidArabicKufi.svg#DroidArabicKufi') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header {
	width: 100%;
	margin: 0 auto;
	float: left;
	background: #ffffff;
	position: relative;
	padding: 5px 0;
	z-index: 99;
	
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.11);
    box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.11);
}

.__cctest {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo {
	display: block;
	height: auto;
	position: absolute;
	background: #fff;
	padding: 10px 10px 10px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	top: 0;
}

._hdrtpart {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 17px 0;
}

.__loregi {
	float: right;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
}

.__login {
	float: left;
	padding: 10px 17px;
	background: #ff9900;
	color: #fff;
	transition: all 1s;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.__sign_up {
	float: left;
	background: #993333;
	padding: 10px 17px;
	color: #fff;
	transition: all 1s;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.__sign_up:hover {
	color: #fff;
	transition: all 1s;
	background: #b43e43;
}

.__login:hover {
	color: #fff;
	transition: all 1s;
	background: #ffad3f;
}

.cart_icon {
	float: right;
	margin-top: 6px;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
}

._gtag {
	background: #ff9600;
	width: 16px;
	height: 16px;
	float: right;
	text-align: center;
	font-size: 11px;
	color: #fff;
	position: absolute;
	border-radius: 50%;
	right: -5px;
	padding-top: 1px;
	margin-top: -3px;
}

.section,
.wd100 {
	width: 100%;
	float: left;
}

.navbar-light .navbar-toggler {
	border-radius: 0px;
	background: #4a918a;
}

.navbar-toggler {
	padding: 3px 5px;
	font-size: 18px;
	line-height: 1;
	background-color: #2fc1d2;
	border: 1px solid transparent;
	border-radius: 0;
	float: right;
}

.main_menu {
	float: right;
	padding: 0 7px;
}

.menu_wrap {
	font-weight: 500;
	padding-top: 0px;
	font-size: 15px;
	margin: 6px 0;
}

.menu_wrap .navbar {
	padding: 0px;
}

.menu_wrap ul>li {
	text-transform: uppercase;
}

.menu_wrap ul li {
	display: block;
}

.menu_wrap ul li a {
	padding: 10px 12px 7px !important;
	border-radius: 0px;
	margin-left: 1px;
	transition: all 1s;
	line-height: 12px;
	color: #000;
}

.menu_wrap ul li a:hover,
.menu_wrap ul li a:focus {
	transition: all 1s;
	color: #ff9900 !important;
}

.menu_wrap ul li.active a {
	color: #ff9900 !important;
	transition: all 1s;
}

.main_menu .dropdown:hover > .dropdown-menu {
	display: block;
}

.main_menu .dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	/*pointer-events: none; */
}

.main_menu .dropdown:hover > .dropdown-menu {
	margin-top: -1px;
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
	padding: 0;
}

.main_menu ul li a.dropdown-item {
	text-transform: none;
	font-size: 14px;
}

.lang {
	font-size: 18px;
	line-height: 19px;
	margin-top: 2px;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: 500;
	float: right;
	color: #000;
}

.lang .dropdown-menu {
	top: 100%;
	background: #fff;
	-webkit-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.24);
	border: none;
	min-width: 155px;
	border-radius: 0px;
	padding: 0;
}

.lang .dropdown .dropdown-item {
	padding: 8px 10px;
	font-size: 13px;
}

.lang .dropdown .dropdown-item:hover,
.lang .dropdown .dropdown-item.active,
.lang .dropdown .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #ff9900
}

.lang a {
	color: #000
}

.lang .ar {
	font-family: 'Droid Arabic Kufi';
}

.lang .dropdown-toggle::after {
	color: #9b9b9b;
}

.inner_banner {
	text-align: center;
	min-height: 115px;
	padding-top: 40px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainpg {
	background: url(../images/banner_bg.jpg) #ccc center;
	padding: 120px 0 15px !important;
}

._top_search {
	text-align: left;
	z-index: 0;
	position: relative;
	width: 80%;
	margin: 0 auto;
}

._top_search h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 10px
}

._top_search p {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 3px;
}

.__serachbox {
	padding: 0 15px;
	border-radius: 15px;
}

._btn_serch_search {
	background: #ff9900;
	height: 100%;
	padding: 16px 5px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	transition: all 1s;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

._btn_serch_search:hover {
	background: #ffa731;
	transition: all 1s;
}

._btn_serch_search img {
	margin-top: -2px;
	margin-right: 5px;
}

.pointer {
	position: absolute;
	right: 0;
	margin: 0;
	z-index: 100;
	background: url(../images/pointer.jpg) no-repeat;
	opacity: .5;
	width: 25px;
	height: 25px;
	top: 20px;
	margin-right: 15px;
	cursor: pointer;
	transition: all 1s;
}

.pointer:hover {
	transition: all 1s;
	background: url(../images/pointer.jpg) no-repeat;
	opacity: 10;
}

.tpsrfd {
	padding: 0px;
}

.tpsrfd .form-control {
	border-radius: 0px;
	border: none;
	padding: 31px 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.drop_bor .form-control {
	border-right: #cccccc 1px solid;
}

.__bnrsubbx span {
	color: #fff;
	font-weight: 500;
	font-size: 15.5px;
	margin: 5px 0;
	text-transform: uppercase;
}

.__bnrsubwrp {
	margin-top: 65px;
}


/* Wobble Horizontal */

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.__ftrwrap {
	padding: 30px 0 5px;
}

.__ftrwrap .container {
	padding: 0 22px;
}

.__ftrwrap h3 {
	color: #821f23;
	font-weight: 700;
}

.banner {
	border-radius: 15px;
	overflow: hidden;
}

.ftr_box1 {
	margin-top: 30px;
}

.ftr_box1,
.ftr_box2 {
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 10px;
}

.__scbk_1 {
	padding: 5px 0 30px;
}

.catprod {
	position: relative;
	overflow: hidden;
}

.sldtabbox {
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
}

.__scbk_2 {
	background: #f1f1f1;
	padding: 30px 0 10px;
	color: #666666;
	line-height: 24px;
}

.__scbk_2 h1 {
	color: #333333;
}

.__scbk_3 h1 {
	color: #333333;
}

.__scbk_3 {
	padding: 30px 0 30px;
}

._tpapp_img {
	text-align: right;
}

._tpapp {
	margin-top: 9%;
}

.footer {
	padding: 35px 0 0 0;
	background: #000000;
	color: #cccccc;
	font-size: 12px;
	border-top: #e5e5e5 1px solid
}

.footer h5 {
	font-weight: 600;
	color: #fff;
	font-size: 14px;
}

.f_info {
	line-height: 20px;
}

.f_info a {
	color: #cccccc;
}

.f_info a:hover {
	color: #fff;
}

.f_info b {
	font-weight: 500;
	font-size: 14px;
}

.f_info P {
	margin-bottom: 5px;
}

.footer ul {
	padding: 0px;
	margin: 0;
}

.footer ul li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.ft a {
	color: #cccccc;
	transition: all 1s;
}

.ft a:hover {
	color: #fff;
	transition: all 1s;
}

.ft ul li {
	margin-bottom: 5px;
}

.ft ul li:hover,
.ft ul li:focus,
.ft ul li:active {
	transition: all 1s;
}

.ft_menu ul li {
	line-height: 28px;
}

.ft_menu ul li a {
	color: #cccccc;
	transition: all 1s;
}

.ft_menu ul li a:hover {
	color: #fff;
	transition: all 1s;
}

._social_icons_top {}

._social_icons_top i {
	border-radius: 50%;
	float: left;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	margin-right: 4px;
	color: #fff;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	font-size: 16px;
}

._social_icons_top i:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.fa-facebook-f {
	background: #3b5998;
}

.fa-twitter {
	background: #00acee;
}

.fa-linkedin-in {
	background: #0e76a8;
}

.fa-youtube {
	background: #c4302b;
}

.fa-instagram {
	background: #3f729b;
}

.store {
	margin: 0px 0px 0px;
	float: left;
	padding: 0 5px 5px 0px
}

.store img {
	border-radius: 6px;
	overflow: hidden;
}

.__social_wrap h6 {
	font-weight: 500;
	font-size: 12px;
}

.copy_right {
	border-top: #353535 1px solid;
	padding: 15px 0;
	text-align: left;
	color: #cccccc;
	margin-top: 15px;
}

.copy_right a {
	color: #cccccc;
}

.copy_right a:hover {
	text-decoration: underline;
}

.pay_icon {
	float: right;
	margin-top: -4px;
}

.newsletter .form-control {
	background: #fff0;
	color: #fff;
	border-right: none;
	outline: none;
	font-size: 12px;
	border: #818181 1px solid;
}

.newsletter_submit {
	background: #ff9900;
	color: #fff;
	border-radius: 0;
	font-size: 12px;
}

.newsletter_submit:hover {
	color: #fff;
}

.newsletter .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cccccc;
}

.newsletter .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: #cccccc;
}

.newsletter .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: #cccccc;
}

.newsletter .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: #cccccc;
}

.add_your_food {
	margin-top: 25px;
	margin-bottom: 25px;
}

.add_your_food a {
	color: #cccccc;
	transition: all 1s;
}

.add_your_food a:hover {
	color: #fff;
	transition: all 1s;
}

.add_your_food_img {
	float: left;
	margin-right: 5px;
}

.add_your_food h5 {
	margin-bottom: 5px;
	display: block;
}

.add_your_food h6 {
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
}

.__serachbox.__top_search {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.11);
	border-radius: 15px;
}

.__top_search .tpsrfd .form-control {
	padding: 22px 15px;
}

.__top_search ._btn_serch_search img {
	margin-top: 7px;
	margin-right: 0;
	width: 24px;
}

.__top_search ._btn_serch_search {
	background: #ff9900;
	height: 100%;
	padding: 3px 5px;
}

.__top_search.__serachbox {
	margin-right: 10px;
	border-radius: 15px;
	float: right;
	max-width: 520px;
	min-width: 520px;
}

.__top_search .pointer {
	top: 11px;
	margin-right: 7px;
}

.breadcrumb_wrap {
	background: #821f23;
	padding: 5px 0;
	margin-bottom: 0px;
}

.breadcrumb_wrap .breadcrumb {
	margin-bottom: 0px;
	background-color: #e9ecef00;
	margin-left: 135px;
	font-size: 12px;
}

.breadcrumb_wrap a {
	color: #fff;
}

.breadcrumb_wrap a:hover {
	color: #ffc46b;
}

.breadcrumb-item.active {
	color: #ededed;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #ffffff;
}

.__top_search .pointer {
	top: 10px;
	margin-right: 6px;
}

.__scsearchwp {
	background: #f3f3f3;
	padding-bottom: 20px;
}

.__scsearchwp h1 {
	padding-top: 40px;
	font-weight: normal;
	color: #000;
	font-size: 25px;
}

.__wtbx {
	background: #fff;
	border: #dddddd 1px solid;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
}

.__wtbx h4 {
	margin-left: 10px;
	margin: 10px 10px 5px;
	font-weight: 500;
	color: #333333;
	font-size: 18px;
}

.__wtbx h5 {
	color: #666666;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 7px;
}

.__wtbx hr {
	float: left;
	width: 100%;
	margin: 5px 0;
}

.__sort_by {
	font-size: 13px;
	padding: 5px 10px;
}

.__sort_by ul {
	padding: 0px 0px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 100%;
}

.__sort_by ul li {
	float: left;
	width: 100%;
	padding-right: 5px;
}

.__sort_by ul li a {
	color: #666666;
	padding: 5px 0;
	float: left;
	width: 100%;
}

.__sort_by ul li a:hover {
	color: #000;
}

.__sort_by ul li a.atv {
	color: #993333;
}

.__radio_sly .form-check {
	line-height: 22px;
}

.__radio_sly label {
	font-weight: normal;
	width: 100%;
	cursor: pointer;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.__radio_sly {
	margin: 0px;
}

.__radio_sly .form-check-input {
	margin-top: 3px;
}

.__ct {
	float: right;
	font-size: 11px;
	position: absolute;
	background: #fff;
	padding-left: 3px;
	color: #000;
}

.__wtbx ul.scrollbar {
	min-height: 250px;
	overflow-y: scroll;
	max-height: 250px;
}

.__wtbx ul.scrollbar::-webkit-scrollbar-track {
	background-color: #ccc;
}

.__wtbx ul.scrollbar::-webkit-scrollbar {
	width: 5px;
	background-color: #ccc;
}

.__wtbx ul.scrollbar::-webkit-scrollbar-thumb {
	background-color: #666666;
}

.__cttext {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.show_all {
	color: #000 !important;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	margin-top: 7px;
}

.__sort_by .__ct {
	right: 30px;
}

.__sort_by.__radio_sly .__ct {
	right: 0px;
}

.__flrtp ul {
	padding: 0px;
	margin: 15px 10px;
	list-style: none;
	float: left;
	line-height: 17px;
}

.__flrtp ul li {
	padding: 0px 5px;
	margin: 0px;
	font-size: 13px;
	float: left;
}

.__flrtp ul li a {
	color: #999999;
	transition: all 1s;
}

.__flrtp ul li a:hover {
	color: #000;
	transition: all 1s;
}

.__flrtp ul li a.actv {
	color: #333333;
	font-weight: 600;
}

.__ftlistwp {
	padding: 0px;
}

.__flrtphd {
	font-size: 15px;
	font-weight: 600;
}

.__gdwp {
	border-top: #ddd 1px solid;
	padding: 10px 0;
}

.__gdimg {
	width: 75px;
	height: 75px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	background: #f2f2f2;
	border: #ddd 1px solid;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.__gdtx {
	color: #999;
}

.__gdtx a {
	color: #999;
}

.__gdtx h3 {
	font-size: 18px;
	color: #000;
	font-weight: 500;
	margin-bottom: 4px;
}

.__gdtx h3 a {
	color: #000;
}

.__gdtx h3 a:hover {
	color: #000;
}

.__gd_subtag {
	color: #999999;
	font-size: 12px;
}

.__gd_subtag a {
	color: #999999;
}

.__gd_subtag a:hover {
	color: #000;
}

.__star_reviews {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.__star {
	color: #ff9933;
	float: left;
	margin-right: 10px;
}

._reviews {
	float: left;
	color: #999999;
}

.__subinfo {
	font-size: 12px;
}

.__subinfo ul {
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
}

.__subinfo ul li {
	padding: 0 5px 0 0px;
	margin: 0 20px 0 0px;
	float: left;
}

.adstexthd {
    position: relative;
    right: 2px;
    top: -17px;
    margin-bottom: -14px;
}

.sidebar-section {
	position: absolute;
	height: 100%;
	width: 100%;
}


/*

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	 
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}


.make-me-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0; 
	padding: 0 15px;
}

  */

.filter_tog {
	display: none;
	float: left;
	cursor: pointer;
	margin: 12px 0;
	background: #821f23;
	padding: 7px 10px 7px;
	color: #fff;
	line-height: 21px;
	border-radius: 7px;
}

.filter_tog_text {
	float: left;
}

.filter_tog_bar {
	float: left;
	width: 20px;
	margin: 3px 0 0 5px;
}

.filter_tog_bar i:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
	margin-bottom: 4px;
}

.adsrt {
	text-align: center;
}

.__ddpgsld {}

.__ddpgsld img {
	object-fit: cover;
	min-height: 270px;
	max-height: 270px;
}

.__dicrpwp {
	background: #fff;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.radius10 {
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
}

.__dicrpwp h3 {
	font-size: 22px;
}

.__dicrpwp .__subinfo {
	margin-left: 35px;
	float: left;
}

.__dicrpwp .__gdimg {
	width: 120px;
	height: 120px;
	border: #fff 2px solid;
	margin-top: -55px;
	z-index: 999;
	position: relative;
}

.__pay_icon {
	float: right;
	margin-top: -44px;
	margin-right: 15px;
}

.__dicrpwp .__gdwp {
	padding: 5px 0;
}

.__dicrpwp {
	border: #ddd 1px solid;
	border-top: none;
}

.__mtbwp {
	background: #fff;
	margin-top: 10px;
}

.tbimg {
	width: 28px;
	height: 28px;
	text-align: center;
	float: left;
	margin-right: 5px;
}

.__mtbwp .nav-tabs .nav-item a {
	background: #fff;
	color: #000;
	padding: 10px 35px;
	line-height: 27px;
}

.__mtbwp .nav-tabs .nav-item a.active {
	background: #993333;
	color: white;
}

.__mtbwp .nav-tabs .nav-item a#menu-tab {
	border-left: none;
}

.__mtbwp .nav-tabs .nav-item a.active#menu-tab .tbimg {
	background: url(../images/_menu1.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item a#menu-tab .tbimg {
	background: url(../images/_menu2.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item a.active#reviews-tab .tbimg {
	background: url(../images/_reviews2.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item a#reviews-tab .tbimg {
	background: url(../images/_reviews1.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item a.active#overview-tab .tbimg {
	background: url(../images/_overview1.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item a#overview-tab .tbimg {
	background: url(../images/_overview2.png) no-repeat;
}

.__mtbwp .nav-tabs .nav-item {
	margin-bottom: 0;
}

.__mtbwp .nav-tabs {
	border-bottom: 1px solid #ddd;
}

.__mtbwp .nav-tabs .nav-link {
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-left: #ddd 1px solid;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.__mtbwp .tab-content > .tab-pane {
	padding: 10px;
}

.__menulttb {
	border: #ddd 1px solid;
}

.__menulttb h5 {
	font-weight: 500;
	padding: 10px;
	margin-bottom: 0px;
	color: #585858
}

.__menulttb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.__menulttb ul li {
	float: left;
	width: 100%;
}

.__menulttb ul li a {
	padding: 8px 10px;
	float: left;
	width: 100%;
	color: #353535;
}

.__menulttb ul li.actv,
.__menulttb ul li a:hover {
	background: #e9e9e9;
}

.__menu_listvw {
	padding-left: 0;
}

.__menu_listvw .has-search .form-control {
	padding-right: 2.375rem;
	font-size: 14px;
}

.__menu_listvw .has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
	right: 15px;
}


.__accordion_cm  {

} 
.__accordion_cm .panel-heading {
	padding: 0;
	border: 0;
	float: left;
	width: 100%;
} 
.__accordion_cm .panel-title>a,
.__accordion_cm .panel-title>a:active {
	display: block;
	padding: 10px;
	color: #555;
	font-size: 16px;
	font-weight: 500; 
 
	text-decoration: none;
    background: #e9e9e9;
} 
.__accordion_cm .panel-heading a:before {
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
	float: right;
	transition: all 0.5s;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	content: "\f078";
}

.__accordion_cm .panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.__menu_listvw .form-group.has-search{
	margin-bottom: 10px;
}

.__itm_crtwp {
    border-bottom: #ddd 1px solid;
    margin-bottom: 10px;
}
.__itm_crtwp h3 {
    font-weight: 500;
    font-size: 15px;
	margin-bottom: 4px;
}
.__itm_crtimg {
    width: 80px;
    height: 80px;
    float: left;
	padding: 4px;
	margin-right: 15px;
	margin-bottom: 10px;
   
    overflow: hidden;
    background: #fff;
    border: #ddd 1px solid;
}
.__ctdcrp {
	font-size: 12px;
	color: #666666;
	line-height: 15px;
	margin-bottom: 5px;
}
.__ctdcrp p{
	margin-bottom: 5px;
}
._cartpris{
	float: right;
	color: #000;
	font-weight: 500;
	text-align: right;  
}

._cartcm .__star {
    margin-right: 0;
	text-align: right;	
	font-size: 12px;
} 
.__accordion_cm .panel-collapse {
	float: left;
	width: 100%;
} 
._cartcm{
	margin-top: 15px;
} 
.__crtbtn{
	border-radius: 50%;
	background: green;
	color: #fff;
	font-size: 14px;
	padding-top: 4px;
	width: 28px;
	height: 28px;
	text-align: center;
	float: right;	
	cursor: pointer;
	transition: all 1s;
}
.__crtbtn:hover{
	transition: all 1s;
    background: #ff9900;
}
.__cartsummy{
	margin-bottom: 35px;
}
.__cartsummy h2{
	background: #821f23;
	padding: 15px 10px;
	color: #fff;
	font-size: 16px;
}
.__cartsummy h5 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
}
.__cartsummy h5 a{
	color: #000;
}
.__cartsummy h5 a:hover{
	color: #000;
}
.__cartsummy_wrp{
	padding-left: 0px;
} 
.__itxtt{
	font-weight: 500;
	font-size: 13px;
} 
.__cartsummy td{
	padding: 10px 0px;
	vertical-align: middle;
	border: none;
} 
.qty-update-section {
    display: inline-block;
    height: 25px;
    border-radius: 3px;
    background-color: #fff;
	font-size: 12px;
} 
.qty-update-section button:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
} 
.qty-update-section button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
} 
.qty-update-section button {
    background: #fff;
    width: 20px;
    height: 23px;
    padding: 0;
	font-size: 12px;
    border-radius: 0;
	line-height: 0;
}
.b-r {
    border-right: 1px solid #e0e0e0;
}
.__crtb .orange {
    color: #616161;
}
.__crtb .qty-update-section button:hover .orange {
   color: #ff9900;
}
.qty-update-section span {
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height: 2;
}
.b-l {
    border-left: 1px solid #e0e0e0;
}
.b-a {
    border: 1px solid #e0e0e0;
}
.__crpc{
	font-weight: 500;
	margin-top: 18px;
	text-align: right;
}
.__close:hover{
	color: red;
} 
.__close {
	color: #6b6b6b;
	float: right;
}
.__cartsummytabv{
	padding: 0 10px;
	margin-bottom: 10px;
	border-top: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	color: #212529;
	background: #fafafa;
}

.__crtb {
	margin-bottom: 0px;
}
.qtytd{
	text-align: right;
}
.blklft{
	padding: 0 10px;
    padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: #ddd 1px solid;
}
.blklft label {
    font-weight: 600;
}

.blklft .form-group {
	margin-bottom: 10px;
}
.blklft .form-control{
	font-size: 14px;
	border-radius: 3px;
}
 
.blklft .btn-default {
	background: #ffe0b7;
  	font-size: 14px;
	border-radius: 0px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 3px;
}
.btn-default:hover {
    color: #333;
  	background: #ffe0b7;
    border-color: #adadad;
	
}
.__cartsummytabv_btpart{
	padding: 0 10px;
	font-size: 13px;
}
.__cartsummytabv_btpart table {
	margin-bottom: 5px;
}
.__cartsummytabv_btpart td b{
	font-weight: 600;
}
.__cartsummytabv_btpart td{
	padding: 4px 0px;
	font-weight: 400;
}
.__srylst{
	color: #999;
}
.__cartsummytabv_btpart .btn {
	border-radius: 0px;
	font-weight: 500;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px
}
.__signwrap {
    padding-top: 65px;
    margin-bottom: 45px;
}
.inner_pg_blok {
 
    -webkit-box-shadow: 0px 1px 10px 2px #d8d8d8a3;
    -moz-box-shadow: 0px 1px 10px 2px #d8d8d8a3;
    box-shadow: 0px 1px 10px 2px #d8d8d8a3;
 	border-radius: 10px;
    padding: 20px;
    margin-bottom: 35px;
    background: #fff;
    max-width:	100%;
    margin: 0 auto;
}

.register_box, .login_box {
    padding: 35px 5%;
}

.register_box {
    border-left: #e6e6e6 1px solid;
}
.__signwrap h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.social_login_wrap {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    border-top: #d2d2d2 1px solid;
    padding-top: 25px;
 
}
.forgot_a {
	font-size: 12px;
	float: right;
	margin-top: 5px;
	color: #6e6e6e;
}
.forgot_a:hover {
    color: #000;
}

.__nubrline {
    padding-left: 15px;
    padding-right: 15px;
} 

.tc_condition label {
    font-size: 12px;
	font-weight: 500;
}

.tc_condition label a {
	color: #111;
	font-weight: 600;
}
._nodropfild{
	margin-left: -1px;
}
.social_login_wrap h5 {
    font-size: 14px;
}

.social_fb {
    padding: 7px 7px;
    float: none;
    width: auto;
    cursor: pointer;
    margin-bottom: 10px;
    color: #444;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border: none;
}

._spg{
	padding-top: 80px;
}

._rpad{
	padding-left: 7px;
	padding-right: 7px;
}
.__msims{
 
	margin-bottom: 20px;
}
.__msims h4{
	margin: 9px 0 5px;
}
.__msims h6{
	margin: 1px 0 10px;
	font-size: 13px;
	font-weight: 500;
}
a.__msims h6{ color: #ddd}
.__msims img {
    object-fit: cover;
    min-height: 220px;
    max-height: 220px;
}
.__msims h6{ color: #5a5a5a;}

.__wtbx.__msims{
	transition: all 1s;
}
.__wtbx.__msims:hover {
    transition: all 1s;
    border: #f78f1e 1px solid;
}
.__svp{}
.__svpr_banner{
	
	border-radius: 10px;
	min-height: 370px;
	text-align: center;
	background: url(../images/__svpr_banner.jpg) #ccc center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
 
.__svpr_banner .__gdimg{
	border: #f78f1e 2px solid;
	margin:-55px auto 0;
	float: none;
	width: 180px;
	height: 180px;
}
.__svpr_banner h2{
	color: #fff;
	font-weight: 500;
	font-size: 28px;
	margin: 20px 0 0px;
}
.__svpr_banner h5{
	color: #e0e0e0;
	font-weight: normal;
	font-size: 14px;
}

.__svpr_search { 
	 min-width: 450px;
	max-width: 450px;
	float: none;
	margin: 40px auto 0;
}
.__svpr_search h3 { 
	color: #fff;
	font-weight: normal;
	font-size: 17px;
}
 
.__svpr_search .form-control{
	border-radius: 8px;
	border: none;
	line-height: 35px;
	padding: 22px 15px;
	font-size: 13px;
	margin-right: 5px ;
}
 
.__svpr_search .pointer {  
    top: 9px; 
}

.__svpr_search ._btn_serch_search {
    border-radius: 8px;
    padding: 9px 4px;
    color: #fff;
    line-height: 27px;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    float: left;
    width: 100%;
}
.__svpr_search ._btn_serch_search a {
	color: #fff
}
.___mr{
    padding-right: 10px !important;
}

.__sp_pay{
	float: right;
}


.__svpr_banner .__star_reviews { 
	margin: 7px 0;
	line-height: 30px;
}
.__svpr_banner ._reviews { 
    color: #fff;	 
}

.__svpr_are {
	 padding:25px 0;
}

.__homely_foods  .__msims img{
	min-height: auto;

}
.__homely_foods  .__msims_img {
	margin-top: 15px;
	margin-bottom: 15px;
}


.order-summary{
	 width: 100%;
}

.panel-default {
    border-color: #ddd;
}









@media (min-width: 1200px) {}

@media (max-width: 1270px) {}

@media (max-width: 1199px) {
	.__top_search.__serachbox {
		max-width: 350px;
		min-width: 350px;
	}
}

@media (max-width: 991px) {
	.filter_tog {
		display: block;
	}
	.__ftlistwp {
		padding: 0px 15px;
	}
	.left_filtterbox {
		display: none;
	}
	.left_filtterbox {
		position: absolute;
		/*	 idth: 100%;*/
		z-index: 1000;
		margin-top: 55px;
	}
	.__top_search.__serachbox {
		max-width: 70%;
		min-width: 70%;
		margin-top: 10px;
		margin-right: 0;
	}
	.menu_wrap {
		margin: 1px 0;
	}
	._hdrtpart {
		float: right;
	}
	.header {
		padding: 0px 0;
	}
	.menu_wrap .navbar {
		padding: 0px;
		float: right;
		margin-bottom: 5px;
	}
	.menu_wrap ul li a {
		border: none;
	}
	.menu_wrap ul li.active a {
		color: #ff9900 !important;
		border: none;
	}
	.menu_wrap ul li a:hover,
	.menu_wrap ul li a:focus {
		border: none;
	}
	.menu_wrap ul li {
		border-bottom: #f3f3f3 1px solid;
	}
	.navbar-nav.lang {
		margin-left: 0px;
	}
	.navbar-light .navbar-toggler {
		background: #993333;
		border-radius: 5px;
	}
	.navbar-collapse {
		width: 220px;
		background: rgb(255, 255, 255);
		float: left;
		position: absolute;
		top: 37px;
		right: 0px;
		margin: 0px;
		-webkit-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
		box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.11);
		z-index: 9999;
	}
	._top_search h1 {
		font-size: 30px;
	}
	.logo {
		text-align: center;
		margin-bottom: 10px;
	}
	._tpapp_img {
		text-align: center;
	}
	._tpapp {
		margin-top: 15px;
		text-align: center;
	}
	.store {
		display: inline-block;
		float: none;
	}
	._tpapp .wd100 {
		margin: 0 auto;
		text-align: center;
	}
	.ft_menu {
		margin-bottom: 25px;
	}
	.copy_right {
		margin-top: 0;
	}
	.add_your_food {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.pay_icon {
		float: none;
		margin-top: 5px;
	}
	.copy_right {
		text-align: center;
	}
	.breadcrumb_wrap .breadcrumb {
		margin-left: 0px;
		padding: 0px;
	}
	.adstexthd {
		position: relative;
		right: 0;
		top: 0;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.__top_search.__serachbox {
		max-width: 100%;
		min-width: 100%;
		margin-top: 5px;
		margin-right: 0;
	}
	.menu_wrap {
		margin: 4px 0 0;
	}
	.logo {
		position: relative;
		width: 100%;
		margin-bottom: 0px;
	}
	.__cctest {
		display: block;
		display: block;
		display: block;
		display: block;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	._hdrtpart {
		width: 100%;
		padding: 0;
		margin-bottom: 5px;
	}
	.__loregi {
		float: left;
		margin: 1px 5px 0;
		font-size: 14px;
		color: #000;
		margin-left: 0;
	}
	.__login,
	.__sign_up {
		padding: 7px 10px;
	}
	.menu_wrap {
		margin: 0px 0 0;
	}
	.cart_icon {
		margin-top: 8px;
	}
	.mainpg {
		padding: 50px 0 15px !important;
	}
	._top_search h1 {
		font-size: 22px;
	}
	.__bnrsubbx {
		width: 33.333%
	}
	.__bnrsubwrp {
		margin-top: 30px;
	}
	.__bnrsubbx span {
		margin-top: 6px;
		font-size: 12px;
		line-height: 13px;
	}
	.ftr_box1,
	.ftr_box2 {
		margin-top: 10px;
		width: 50%;
		border-radius: 0px;
	}
	.ftr_box1 {
		padding-right: 5px;
	}
	.ftr_box2 {
		padding-left: 5px;
	}
	.ftr_box1 img,
	.ftr_box2 img {
		border-radius: 15px;
		overflow: hidden;
	}
}

@media (max-width: 576px) {
	.__serachbox.__top_search .tpsrfd {
		margin-bottom: 0px;
	}
	.__top_search .pointer {
		display: none;
	}
	.main_menu {
		padding: 0;
		position: absolute;
		right: 20px;
		top: 42px;
	}
	.__login,
	.__sign_up {
		padding: 7px 7px 5px;
		font-size: 12px;
	}
	.cart_icon {
		margin-top: 2px;
	}
	.lang .ar {
		font-size: 13px;
	}
	.lang {
		margin-right: 2px;
	}
	.ftr_box1,
	.ftr_box2 {
		margin-top: 10px;
		width: 100%;
		padding: 0;
		border-radius: 0px;
		margin-bottom: 0px;
	}
	.tpsrfd .form-control {
		border-radius: 15px;
		padding: 25px 15px;
	}
	._btn_serch_search {
		padding: 10px 5px;
	}
	.tpsrfd {
		margin-bottom: 10px;
	}
	.pointer {
		margin-right: 5px;
		top: 12px;
	}
	._btn_serch_search {
		border-radius: 15px;
	}
	._top_search {
		width: 100%;
	}
	.___mr {
		padding-right: 0px !important;
		margin-bottom: 10px;
	}
	.__svpr_search{
		min-width: 90%;
		max-width: 90%;
	}
 
	.__svpr_search .__star_reviews {
		margin-top: 35px;
	}
}

@media (max-width: 390px) {
	.navbar-toggler {
		padding: 2px 3px;
	}
	.cart_icon {
		margin-top: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.__login,
	.__sign_up {
		padding: 6px 5px 5px;
		font-size: 11px;
	}
}